<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Stable" value="https://pkgs.dev.azure.com/NovicellNuget/Nuget/_packaging/Stable/nuget/v3/index.json" />
    <add key="Beta" value="https://pkgs.dev.azure.com/NovicellNuget/Nuget/_packaging/Beta/nuget/v3/index.json" />
    <add key="RC" value="https://pkgs.dev.azure.com/NovicellNuget/Nuget/_packaging/RC/nuget/v3/index.json" />
    <add key="novicell" value="http://nuget.development.novicell.dk/nuget" />
  </packageSources>
</configuration>